/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v29-cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v29-cyrillic-regular.woff') format('woff');
  /* Modern Browsers */
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v29-cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v29-cyrillic-700.woff') format('woff');
  /* Modern Browsers */
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', serif;
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --blue: #3F2AFF;
  --dark-blue: #212133;
  --white: #FFF;
  --gray: #85859B;
  --dark-gray: #666;
}

.burger {
  display: none;
}

/* header */
.header {
  background-color: var(--blue);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 27px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 56px;
}

.nav__link {
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

/* hero */
.hero {
  background: var(--dark-blue);
}

.hero__container-background {
  margin: 0 auto;
  max-width: 1440px;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
  box-shadow: 0 0 27px 27px var(--dark-blue) inset;
}

.hero__info {
  padding-top: 130px;
  padding-bottom: 130px;
}

.hero__heading {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--white);
}

.hero__description {
  margin: 0;
  margin-bottom: 61px;
  font-size: 18px;
  line-height: 27px;
  color: var(--white);
}

.hero__button {
  padding: 24px 75.5px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  background: var(--blue);
}

.hero__background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 7px;
}

/* benefit */
.benefit__info {
  padding-top: 81px;
}

.benefit__background {
  background: url(../img/benefit_1110.png) left center no-repeat;
  background-size: auto;
}

.benefit__heading {
  margin: 0;
  margin-bottom: 16px;
  padding-left: 190px;
  max-width: 570px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #2E2B44;
}

.benefit__description {
  margin: 0;
  margin-bottom: 23px;
  padding-left: 190px;
  max-width: 775px;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-gray);
}

.benefit__list {
  margin-bottom: 79px;
}

.benefit__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.benefit__text {
  margin: 0;
  padding-left: 110px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.benefit__text--1 {
  background: url(../img/benefit_item_1.png) left center no-repeat;
  background-size: auto;
}

.benefit__text--2 {
  background: url(../img/benefit_item_2.png) left center no-repeat;
  background-size: auto;
}

.benefit__text--3 {
  background: url(../img/benefit_item_3.png) left center no-repeat;
  background-size: auto;
}

/* teacher */
.teacher {
  padding-top: 74px;
  padding-bottom: 73px;
  background: var(--dark-blue);
}

.teacher__heading {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white);
}

.teacher__img {
  margin-bottom: 28px;
}

.teacher__name {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--white);
}

.teacher__description {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}

/* course */
.course {
  padding-top: 74px;
  padding-bottom: 49px;
}

.course__heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--dark-blue);
}

.course__item {
  margin-bottom: 34px;
}

.course__block {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  background: #EDF0F9;
}

.course__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  padding: 26px 30px;
}

.course__name {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--dark-blue);
}

.course__description {
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-gray);
}

.course__btn {
  padding: 20.5px 59px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  color: var(--white);
  background: var(--blue);
}

/* footer */
.footer {
  background: linear-gradient(#2E2B44 82%, #FFF 20%);
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 24px;
}

.social__item:not(:last-child) {
  margin-right: 31px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  background: var(--white);
}

.footer__text {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  color: #2E2B44;
}

@media (max-width: 991px) {

  /* teacher */
  .teacher__item:not(:last-child) {
    margin-bottom: 30px;
  }

  /* benefit */
  .benefit__text {
    padding: 0;
    padding-top: 95px;
    background-position: left top;
  }
}

@media (max-width: 768px) {

  /* hero */
  .hero__info {
    padding-bottom: 135px;
  }

  .hero__heading {
    font-size: 50px;
  }

  .hero__heading {
    margin-bottom: 17px;
  }

  /* course */
  .course__btn {
    padding: 20.5px 55.5px;
  }

  .course__description {
    width: 100%;
  }
}

@media (max-width: 767px) {

  /* header */
  .header__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__logo {
    margin-bottom: 30px;
  }

  /* hero */
  .hero__background {
    display: none;
  }

  .hero__info {
    padding-top: 79px;
  }

  .hero__description {
    width: 439px;
  }

  /* benefit */
  .benefit__background {
    background-position: left top;
  }

  .benefit__list {
    margin-bottom: 25px;
  }

  .benefit__item {
    margin-bottom: 30px;
  }

  .benefit__heading {
    width: 100%;
  }

  .benefit__text {
    width: 100%;
  }

  /* teacher */
  .teacher {
    padding-bottom: 50px;
  }

  .teacher__item:not(:last-child) {
    margin-bottom: 22px;
  }

  /* course */
  .course__item {
    margin-bottom: 35px;
  }

  .course__btn {
    padding: 20.5px 48px;
  }

  .course__info {
    padding: 24px 30px;
  }

  .course__name {
    line-height: 25px;
  }

  .course__description {
    margin-bottom: 33px;
  }
}

@media (max-width: 508px) {

  /* header */
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }

  /* hero */
  .hero__description {
    width: 405px;
  }

  /*benefit*/
  .benefit__heading {
    font-size: 20px;
    line-height: 130%;
  }
}

@media (max-width: 425px) {

  /* header */
  .header {
    /* overflow: hidden; */
  }

  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
  }

  .header__logo svg {
    width: 72px;
  }

  /* .nav {
    display: none;
  } */

  .burger {
    display: block;
    --burger-width: 20px;
    --burger-height: 16px;
    --burger-line-height: 2px;
    --burger-offset: 5px;
    position: relative;
    border: none;
    padding: 7px 5px;
    width: var(--burger-width);
    height: var(--burger-height);
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 50px;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }

  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .burger--active::before {
    z-index: 6;
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .burger--active::after {
    z-index: 6;
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .burger--active .burger__line {
    z-index: 6;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  .nav {
    position: absolute;
    display: block;
    z-index: 5;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #2F2C45;
    transform: translateX(101%);
    transition: transform .3s ease-in-out;
  }

  .nav.is-active-menu {
    transform: none;
  }

  .nav__list {
    flex-direction: column;
    padding: 76px 15px 105px 15px;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 56px;
  }

	/* .nav__link {
		padding-bottom: 3px;
		border-bottom: 1px solid var(--blue);
    transition: border-bottom .3s ease-in-out;
	} */

  /* .nav__link:hover {
    border-bottom: 1px solid var(--white);
  } */

  /* hero */
  .hero__info {
    padding-top: 50px;
    padding-bottom: 42px;
  }

  .hero__heading {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .hero__description {
    margin-bottom: 24px;
    width: 290px;
    font-size: 16px;
    line-height: 130%;
  }

  /* benefit */
  .benefit__info {
    padding-top: 50px;
  }

  .benefit__background {
    background: none;
  }

  .benefit__heading {
    margin-bottom: 2px;
    padding: 0;
    font-size: 20px;
    line-height: 130%;
  }

  .benefit__description {
    padding: 0;
  }

  .benefit__text {
    padding: 0;
    padding-left: 108px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 288px;
    background-position: left center;
  }

  /* teacher */
  .teacher {
    padding-top: 50px;
  }

  .teacher__heading {
    font-size: 20px;
  }

  /* course */
  .course__btn {
    padding: 20.5px 55.5px;
  }
}
